<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Prueba Ansible - vagrant </title> 
</head>

<body>
   <h1>Gathering Facts</h1>
  <p>Este ordenador se llama: {{ ansible_hostname }}</p>
  <p>SO: {{ansible_distribution}} {{ansible_distribution_release}} </p>
</body>
</html>
